{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashboard{% endblock %}

{% block page_actions %}
{% endblock %}

{% block main %}
    {{ encore_entry_script_tags('app') }}
    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
        <div class="manu-mod-statistics" style="display: flex; align-items: end;">
            <div class="manuModChart" style="width: 60%">
                Manufacturers: {{ totalManufacturers }} <br>
                Models: {{ totalModels }} <br>
                {{ render_chart(manuModChart) }}
            </div>
            <div class="modTransChart" style="width: 40%">
                {{ render_chart(modTransChart) }}
            </div>
        </div>
        <br><br><br>
        {%  if is_granted('ROLE_ADMIN') %}
            <div class="user-statistics" style="">
                <h4>Audit data</h4>
                <br>
                <div>
                    <table class="table datagrid {{ entities is empty ? 'datagrid-empty' }}">
                        <thead>
                        <tr>
                            <td>Id</td>
                            <td>Entity Type</td>
                            <td>User Id</td>
                            <td>Action</td>
                            <td>Timestamp</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.entityType }}</td>
                                <td>{{ entity.userId }}</td>
                                <td>{{ entity.action }}</td>
                                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}