{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashboard{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="...">Do somethings</a>
{% endblock %}

{% block main %}
    {{ encore_entry_script_tags('app') }}

    <div class="manu-mod-statistics" style="display: flex">
        <div class="manufacturers" style="width: 49%">
            Manufacturers: {{ totalManufacturers }} <br>
            {{ render_chart(chart) }}
        </div>

        <div class="manufacturers" style="width: 49%">
            Models: {{ totalModels }} <br>
            {{ render_chart(chart) }}
        </div>
    </div>
    <br><br><br>
    <div class="user-statistics" style="display: flex">
        <div class="users-data-1" style="width: 49%">
            Last user login: Javier, 2023-01-31 17:45<br>
        </div>

        <div class="users-data-1" style="width: 49%">
            Audit data <br>
        </div>
        <br>
    </div>
{% endblock %}